@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand:wght@300&family=Spirax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Permanent+Marker&family=Quicksand:wght@300&family=Spirax&display=swap');

header>p {
  display: flex;
  justify-content: center;
  font-size: 8vh;
  font-family: 'permanent marker';
  background-color: #7291c0;
  margin: 0px;
  color: #313161
}

nav {
  font-family: fantasy;
  background-color: rgb(125 191 225);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  color: #313161;
  text-decoration: none;
  font-size: 3vh;
}

body {
  background-color: antiquewhite;
  margin: 0%;
}

#content {
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  margin: 3vh;
  justify-content: space-around;
}

footer {
  background-color: rgb(125 191 225);
  justify-content: space-evenly;
  display: flex;
  margin-top: 5vh;
  font-size: 3vh;
  padding: 4vh;
  font-family: 'Oswald';
}

/*---------homePage---------*/
#content>a {
  font-size: 12vh;
  font-family: 'Oswald';
  align-self: center;
  margin: 8%;
  margin-bottom: 2%;
  background-color: rgb(125 191 225);
  padding: 3vh;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid #7291c0 4px;
}

#homeSection {
  display: flex;
  flex-direction: row;
  font-family: 'oswald';
  width: 80%;
  margin-top: 3vh;
}

#homeDiv1 {
  margin-right: 1vh;
  background-color: rgb(125 191 225);
  padding: 2vh;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid #7291c0 4px;
}

#homeDiv2 {
  margin-left: 1vh;
  background-color: rgb(125 191 225);
  padding: 2vh;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid #7291c0 4px;
}

/*---------salePage---------*/
#saleForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  font-size: 3vh;
  font-family: 'Oswald';
  background-color: rgb(125 191 225);
  padding: 3vh;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid #7291c0 4px;
}

#sendToBroker {
  width: 20%;
}

#apartmentTitel {
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: blue;

}

#villaTitel {
  font-size: 3vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: #0f7956;
}

#info {
  height: 20vh;
  width: 100%;
}

#pTag {
  font-size: 4vh;
}

.fieldsetSales {
  border: 0;
  margin-bottom: 1vh;
  width: 100%;
  display: flex;
}

#address {
  width: 100%;
}

.salesPtag {
  margin: 0;
  margin-right: 2vh;
}

.saleInput {
  width: 100%;
}

/*-------buyPage---------*/
#buyForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  font-family: 'Oswald';
  font-size: 3vh;

  padding: 3vh;
  background-color: rgb(125 191 225);
  border-radius: 40px 40px 40px 40px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid #7291c0 4px;
  /*border: solid #7291c0 4px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);*/
}

#fieldset {
  border: 0 none;
}

#propertiesSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 75%;
  }

#objectSection {
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-right: 2vh;
  margin-left: 3vh;
  border: solid #7291c0 4px;
  border-radius: 30px 30px 30px 30px;
  box-shadow: 4px 6px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(125 191 225);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: space;
  width: 20%;
  font-family: 'Oswald';
}

#pTagAddress {
  font-size: 2.5vh;
  color: #313161;
}

#pTagPrice {
  font-size: 2vh;
  color: #313161;
}

#pTagArea {
  font-size: 2vh;
  color: #313161;
}


/*-------LogInPage---------*/
#logInForm {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  height: 40vh;
  font-size: 3vh;
  font-family: 'Oswald';
  margin-bottom: 10vh;
  background-color: rgb(125 191 225);
  padding: 3vh;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
}

/*-------ContactUsPage---------*/
#generalQuestionsForm {
  margin-top: 5vh;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: column;
  font-size: 3vh;
  font-family: 'Oswald';
  justify-content: center;
  background-color: rgb(125 191 225);
  padding: 3vh;
  border-radius: 40px 40px 40px 40px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.75);
  border: solid #7291c0 4px;
}

#messageLabel {
  margin-left: 3vh;
}

#message {
  height: 30vh;
  margin: 3vh;
}
#generalFormBtn {
  width: 10vh;
  display: flex;
  justify-content: space-evenly;
}

/*-------AboutUsPage---------*/
#aboutSection {
  justify-content: start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  width: 80%;
  height: 100%;
  font-family: 'Oswald';
}

@media screen and (max-width: 450px) {
  #saleForm {
    width: 100%;
    height: 240vh;
  }
  
  #content>a {
    font-size: 3vh;
  }

  .fieldsetSales {
    margin-left: 0px;
    width: 15vh;
    display: flex;
    flex-direction: column;
  }

  header>p {
    width: 100%;
  }

  .saleInput {
    width: 100%;
  }

  #pTag {
    font-size: 17px;
  }

  a {
    font-size: 10px;
    margin: 2vh;
  }

  #generalQuestionsForm {
    width: 80%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 100vh;
  }

  #messageLabel {
    margin-left: 0px;
  }

  #message {
    margin: 0px;
  }

  #generalFormBtn {
    margin-left: 0px;
  }

  #fieldset {
    border: 0 none;
    font-size: 12px;
    width: 227px;
    display: flex;
    flex-wrap: wrap;
  }

  #homeSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 2vh;
    margin-bottom: 5vh;
  }

  #homeDiv1 {
    margin-bottom: 3vh;
  }

  #propertiesSection {
    flex-direction: column;
    display: flex;
  }

  #objectSection {
    width: 90%;
  }
}